body, html, .jumbotron {
  background-color: #111; }

body {
  position: relative; }

@font-face {
  font-family: 'iconfont';
  /* project id 223365 */
  src: url("//at.alicdn.com/t/font_0fd5pat0nfsnstt9.eot");
  src: url("//at.alicdn.com/t/font_0fd5pat0nfsnstt9.eot?#iefix") format("embedded-opentype"), url("//at.alicdn.com/t/font_0fd5pat0nfsnstt9.woff") format("woff"), url("//at.alicdn.com/t/font_0fd5pat0nfsnstt9.ttf") format("truetype"), url("//at.alicdn.com/t/font_0fd5pat0nfsnstt9.svg#iconfont") format("svg"); }
.iconfont {
  font-family: 'iconfont';
  font-size: inherit;
  cursor: pointer; }

.callout {
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #7f4a88;
  background-color: #f9f4ef;
  color: #4a266a; }
  .callout > h4 {
    font-weight: 700;
    color: #4c4177; }

.keywords-purple {
  margin: 0 2px;
  padding: 0 4px;
  color: #ffd9e8;
  background-color: #7f4a88;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.1em; }

.keywords-green {
  margin: 0 2px;
  padding: 0 4px;
  color: #2e8b5c;
  background-color: #dde5da;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.1em; }

.keywords-brown {
  margin: 0 2px;
  padding: 0 4px;
  color: #f6f6f6;
  background-color: #ea7362;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.1em; }

.keywords-pink {
  margin: 0 2px;
  padding: 0 4px;
  color: #ff8532;
  background-color: #fdede1;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.1em; }

.keywords-strong {
  margin: 15px 2px;
  padding: 0 4px;
  color: white;
  background-color: #bd3a47;
  border: 1px solid transparent;
  border-radius: 4px;
  font-size: 1.1em;
  padding: 10px 4px; }

.header {
  padding-top: 50px; }

.banner {
  background-image: url(http://wx3.sinaimg.cn/large/005JVuCMly1fbx2shlvmbj30wi09bh1k.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 335px; }

@media screen and (max-width: 768px) {
  .banner {
    background-image: url(../img/test_1.png);
    height: 160px; } }
.jumbotron {
  padding: 10px 0px;
  margin-bottom: 10px; }

.panel-default > .panel-purple {
  padding: 10px 15px;
  border-bottom: 1px solid #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #9d9d9d;
  background-color: #222; }

#nav {
  top: 55px; }
  #nav ul > li.active > a {
    text-decoration: none;
    border-left: 2px solid #b74242; }

.footer {
  margin-top: 20px;
  border-top: 4px solid #b74242; }

.bg-red {
  background-color: #f44336 !important; }

.bg-black {
  background-color: #222222; }

.main {
  background-color: #000000; }

.text-red {
  color: #d63243; }

.text-wihte {
  color: #fbede1; }

.text-list {
  line-height: 1.8em;
  color: #fbf3ce; }
  .text-list ol {
    list-style: lower-latin; }

.font-orange {
  color: #ffe6b5;
  text-shadow: 0 0 5px #fa7601;
  font-size: 16px; }

.text-orange {
  color: #ea7362; }

.navs-white > li > a {
  color: #fbede1; }
.navs-white ul.nav > li > a {
  padding-left: 30px; }

.text-yellow {
  color: #fbd157; }

.tooltip-inner {
  background-color: #7e2e2e; }

.nav > li > a:hover, .nav > li > a:focus {
  text-decoration: none;
  background-color: transparent; }

blockquote > h4 {
  color: #ffa700; }
blockquote > p {
  font-size: 0.8em; }
