@charset "UTF-8";
body,html,.jumbotron {
  background-color: #575757;
}

//c1：文字颜色 c2：背景色 c3 边框颜色
@mixin keywords($c1:#4c4177,$c2:#FFD9E8,$c3:#ddd){
  padding: 0 4px;
  font-size: 90%;
  color: $c1;
  background-color: $c2;
  border: 1px solid  $c3;
  border-radius: 4px;
}

@mixin callout($color:#7f4a88){
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: $color;
}

.callout {
  @include callout()
}

.keywords-purple {
  display: inline-block;
  margin-top: 5px;
  @include keywords(#7f4a88,#fbede1);
}

.keywords-green {
  margin: 0 2px;
  @include keywords(#2e8b5c,#dde5da,#009688);
}

.header {
  margin-bottom: 50px;
}

.banner {
  background-image: url(../img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 135px;
  padding-top: 50px;

  >span {
    color: #ffd9e8;
    text-shadow: 0 0 5px #c131da;
    font-size: 16px;
  }
}

.jumbotron {
  padding: 10px 0px;
  margin-bottom: 10px;
}

.panel-default>.panel-purple {
  padding: 10px 15px;
  border-bottom: 1px solid #000;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  color: #9d9d9d;
  background-color: #222;
}

.footer {
  border-top: 4px solid #7d7d7d;
}

.bg-red {
  background-color: #f44336 !important;
}
